{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12 mb-5">
</div>
<div class="container">
    <a href="{% url 'bloc_record:blog_record_list' %}" type="button"
       class="btn btn-lg btn-block btn-outline-success mb-4">Перейти на страницу блога
    </a>

    <a href="{% url 'catalog:create' %}" type="button" class="btn btn-lg btn-block btn-outline-success mb-4">Добавить
        продукт</a>
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="{{ object.avatar | mymedia }}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.purchase_price }} руб.</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.discription | slice:":100" }}</li>
                        {% for version in object.version_set.all %}
                        {% if version.sing_current_version %}
                        {{ version.name_version }}
                        {% else %} Не задано!
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="{% url 'catalog:product_detail' object.pk %}" type="button"
                       class="btn btn-lg btn-block btn-outline-success">Просмотр товара</a> <a
                        href="{% url 'catalog:update' object.pk %}" type="button"
                        class="btn btn-lg btn-block btn-outline-success">Редактировать</a>
                    <a href="{% url 'catalog:delete' object.pk %}" type="button"
                       class="btn btn-lg btn-block btn-outline-danger">Удалить</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}